body {
  background: #f8bcbc;
  padding: 0;
  margin: 0;
}
#root {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* position: absolute; */
  /* width: 100%; */
  /* top: -22px; */
}

section {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section h2 {
  font-size: 2em;
  margin: 10px 0;
}
section p {
  margin: 5px 0;
  font-size: 1.1em;
}

.buttonlike-link {
  text-decoration: none;
  color: white;
  border-radius: 20px;
  background: #426B1F;
  transition: filter 0.2s;
  font-size: 1.2em;
  padding: 10px 15px;
  margin-top: 15px;
}
.buttonlike-link:hover {
  filter: brightness(0.9);
}
.planner-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
}
.checklist-container {
  background-color: #E75F5F;
  margin: auto;
  width: 60%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 20px;
  top: 10%;
}
.checklist-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f8bcbc;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.25s ease-in-out;
}
.checklist-item:hover {
  filter: brightness(0.9);
}
.checklist-header {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
.checklist-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.checklist-item h2 {
  color: black;
  padding: 0;
  margin: 0;
}
.checklist-item p {
  color: black;
  padding: 0;
  margin: 0;
}
